{% extends 'base.html' %}

{% block title %}Info{% endblock %}


{% block content %}
<h2>Application Version Information</h2>

<div class="row mt-4">
  <table class="table table-hover col-6">
    <tr>
      <th scope="row">Application Version</th>
      <td>{{ info.VERSION }}</td>
    </tr>
    <tr>
      <th scope="row">Git Tag</th>
      <td>{{ info.GIT_TAG }}</td>
    </tr>
    <tr>
      <th scope="row">Git Hash</th>
      <td>{{ info.GIT_HASH }}</td>
    </tr>
    <tr>
      <th scope="row">Build Date</th>
      <td>{{ info.BUILD_DATE }}</td>
    </tr>
    <tr scope="row">
      <th>Build Host</th>
    <td>{{ info.BUILD_HOST }}</td>
    </tr>
  </table>
</div>
{% endblock %}
