{% extends 'base.html' %}

{% block title %}Plan View{% endblock %}

{% block content %}

{% include 'dbloc/macros/plan_info.html' with plan=plan %}

{% include 'dbloc/macros/floor_nav.html' with plan=plan %}

<div class="row">
  <div class="col-8">
    {% include 'dbloc/macros/plan_component.html' with plan=plan teleports=teleports zoom=True tp_action=tp_action mark=mark %}
  </div>

  <div class="col-4">
    {% if plan.description %}
    <p>
      <strong>Description:</strong>
      {{plan.description}}
    </p>
    {% endif %}

    {% if plan.address %}
    <p>
      <strong>Address:</strong><br />
      {{ plan.address|linebreaksbr }}
    </p>
    {% endif %}

    {% if plan.url %}
    <p>
      <strong>Website:</strong>
      <a href="{{ plan.url }}">{{ plan.url }}</a></p>
    {% endif %}
    <p>
  </div>
</div>

<hr />

{% if parent %}
<p>
  <b>Parent:</b>
  <a href="{% url 'dbloc:plan' parent.id %}">{{ parent.name }}</a>
</p>
{% endif %}

{% if sub_plans %}
<p><b>Details</b></p>
{% include 'dbloc/macros/planlist.html' with plans=sub_plans %}
{% endif %}

{% if user.is_authenticated %}
<p>
  <strong>Actions:</strong>
  <a href="{% url 'dbloc:plan_edit' plan.id %}">Edit Plan</a>
  <a href="{% url 'dbloc:plan_edit_subplans' plan.id %}">Edit Subplans</a>
  <a href="{% url 'dbloc:plan_delete' plan.id %}">Delete Plan</a>
  {% if plan.image %}
  <a href="{% url 'dbloc:plan_add_tp' plan.id %}">Add Teleport</a>
  <a href="{% url 'dbloc:plan_select_tp' plan.id 'dbloc:tp_edit' %}">Edit Teleport</a>
  <a href="{% url 'dbloc:plan_select_tp' plan.id 'dbloc:tp_delete' %}">Delete Teleport</a>
  {% endif %}
</p>
{% endif %}
{% endblock %}
