{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Edit Plan{% endblock %}

{% block content %}
{% if plan %}
{% include 'dbloc/macros/plan_info.html' with plan=plan %}
{% endif %}

<form method="post">
  {% include 'dbloc/macros/form_errors.html' with form=form %}

  {% csrf_token %}

  <h2 class="h4">Basic Information</h2>
  <div class="form-row">
    <div class="form-group col">
      {{ form.name | as_crispy_field }}
    </div>
    <div class="form-group col">
      {{ form.level | as_crispy_field }}
    </div>
  </div>

  <hr />

  <h2 class="h4">Image</h2>

  <div class="form-group">
    {{ form.image | as_crispy_field }}
  </div>

  <hr />

  <h2 class="h4">Metadata</h2>

  <div class="form-group">
    {{ form.url | as_crispy_field }}
  </div>

  <div class="form-row">
    <div class="form-group col mb-0">
      {{ form.address | as_crispy_field }}
    </div>

    <div class="form-group col mb-0">
      {{ form.description | as_crispy_field }}
    </div>
  </div>

  <button class="btn btn-primary" type="submit" value="Save">Save</button>
  {% if plan %}
  <a class="btn btn-secondary" href="{% url 'dbloc:plan' plan.id %}">Cancel</a>
  {% else %}
  <a class="btn btn-secondary" href="{% url 'dbloc:index' %}">Cancel</a>
  {% endif %}
</form>

{% endblock %}
