{% extends 'base.html' %}
{% import 'loc/macros/objects.html' as obj %}
{% import 'loc/macros/plan.html' as f %}
{% from 'loc/macros/plan.html' import plan_info %}

{% block title %}Add Teleport{% endblock %}

{% block content %}
{{ plan_info(plan) }}

<div id="building_nav">
  <p>{% if plan.lower_floor %}Down: {{ obj.floor_link(plan.lower_floor) }}{% endif %}</p>
  <p>
    {% if plan.upper_floor %}
    Up: {{ obj.floor_link(plan.upper_floor) }}
    {% endif %}
  </p>
</div>

{{ f.plan(plan, teleports, zoom=False) }}

<p>
  Delete teleport '{{ teleport.text }}'?
</p>

<form>
  <table class="formtable" method="POST">
    {{ form.as_table() }}

    <tr>
      <td colspan="2">
        <input type="submit" value="Delete" />
        <a class="cancel_button" href="{{ url('loc:plan', args=[plan.id]) }}">Cancel</a>
      </td>
    </tr>
  </table>
</form>

{% endblock %}
