{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Edit Metadata{% endblock %}

{% block content %}
{% include 'dbloc/macros/plan_info.html' with plan=plan %}

<form method="post">
  {% include 'dbloc/macros/form_errors.html' with form=form %}

  {% csrf_token %}

  {{ formset.management_form }}

  {% for form in formset %}
  {{ form | crispy}}
  <hr >
  {% endfor %}

  <button class="btn btn-primary" type="submit" value="Save">Save</button>
  <a class="btn btn-secondary" href="{% url 'dbloc:plan' plan.id %}">Cancel</a>
</form>

{% endblock %}
