{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Edit Teleport{% endblock %}

{% block content %}

{% include 'dbloc/macros/floor_nav.html' with plan=plan %}

{% include 'dbloc/macros/plan_component.html' with plan=plan teleports=teleports zoom=False tp_action=tp_action %}

<p>
  To set the coordinates (x and y) of the teleport, please double-click on the
  plan.
</p>

<form method="post">
  {% csrf_token %}

  <div class="form-row">
    <div class="col-3">
      {{ form.x | as_crispy_field }}
    </div>
    <div class="col-3">
      {{ form.y | as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.text | as_crispy_field }}
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      {{ form.dest | as_crispy_field }}
    </div>
  </div>

  <button class="btn btn-primary" type="Submit">Save</button>
  <a class="btn btn-secondary" href="{% url 'dbloc:plan' plan.id %}">Cancel</a>
</form>

<script type="text/javascript">
  el_plan = document.getElementById('plan')
  el_x = document.getElementById('id_x')
  el_y = document.getElementById('id_y')

  el_plan.addEventListener('dblclick', e => {
      x = ((e.offsetX) / el_plan.width.baseVal.value).toFixed(2)
      y = ((e.offsetY) / el_plan.height.baseVal.value).toFixed(2)

      el_x.value = x
      el_y.value = y
  });
</script>

{% endblock %}
