{% extends 'base.html' %}

{% block title %}Plan View{% endblock %}

{% block content %}

{% include 'dbloc/macros/plan_info.html' with plan=plan %}

{% include 'dbloc/macros/floor_nav.html' with plan=plan %}

<div class="row">
  <div class="col-8">
    {% include 'dbloc/macros/plan_component.html' with plan=plan teleports=teleports zoom=True tp_action=tp_action %}
  </div>
  <div class="col-4">
    <p>
      <strong>Metadata</strong>
      {% if user.is_authenticated %}
      (<a href="{% url 'dbloc:plan_edit_meta' plan.id %}">edit</a>)
      {% endif %}
    </p>
    <p><strong>Description: </strong>{{plan.description}}</p>
    <p><strong>Address: </strong>{{ plan.address }}</p>
  </div>
</div>

{% if parent %}
<p>
  <b>Parent:</b>
  <a href="{% url 'dbloc:plan' parent.id %}">{{ parent.name }}</a>
</p>
{% endif %}

{% if sub_plans %}
<p><b>Details</b></p>
{% include 'dbloc/macros/planlist.html' with plans=sub_plans %}
{% endif %}

<p><b>Actions</b></p>
<p>
  <a href="{% url 'dbloc:plan_edit_image' plan.id %}">Change Image</a>
  {% if plan.image %}
  <a href="{% url 'dbloc:plan_add_tp' plan.id %}">Add Teleport</a>
  <a href="{% url 'dbloc:plan_select_tp' plan.id 'dbloc:tp_edit' %}">Edit Teleport</a>
  <a href="{% url 'dbloc:plan_select_tp' plan.id 'dbloc:tp_delete' %}">Delete Teleport</a>
  {% endif %}
</p>

{% endblock %}
