{% extends 'base.html' %}

{% block title %}Plan View{% endblock %}

{% block content %}

<p>
  Plan <i>{{ plan.name }}</i>
  {% if plan.level is not none %}
  on level {{plan.level}}
  {% endif %}
  {% if plan.parent %}
  of <a href="{% url 'dbloc:plan' plan.parent.id %}">{{ plan.parent }}</a>
  {% endif %}
</p>

{% include 'dbloc/macros/floor_nav.html' with plan=plan %}
{% include 'dbloc/macros/plan_component.html' with plan=plan teleports=teleports zoom=True tp_action=tp_action %}

{% if parent %}
<p>
  <b>Parent:</b>
  <a href="{% url 'dbloc:plan' parent.id %}">{{ parent.name }}</a>
</p>
{% endif %}

{% if sub_plans %}
<p><b>Details</b></p>
{% include 'dbloc/macros/planlist.html' with plans=sub_plans %}
{% endif %}

<p><b>Actions</b></p>
<p>
  <a href="{% url 'dbloc:plan_edit_meta' plan.id %}">Edit Metadata</a>
  {% if plan.image %}
  <a href="{% url 'dbloc:plan_add_tp' plan.id %}">Add Teleport</a>
  <a href="{% url 'dbloc:plan_select_tp' plan.id 'dbloc:tp_edit' %}">Edit Teleport</a>
  <a href="{% url 'dbloc:plan_select_tp' plan.id 'dbloc:tp_delete' %}">Delete Teleport</a>
  {% endif %}
</p>

{% endblock %}
