
body {
    font-family: sans-serif;
}

h1 {
    font-size: 1.2rem;
}


#nav_row {
    font-size: small;
    background-color: lightgray;
    padding: 0.3rem;
}

#nav_row #nav_loc {
    display: inline-block;
}

#nav_row #nav_admin {
    float: right;
}

#image img {
    padding: 0.2rem;
    border: 1px solid lightgray;
}

.teleport_link {
    font-size:10px;
    fill: red;
    dominant-baseline: middle;
    text-anchor: middle;
}

.teleport_link:hover {
    font-weight: bold;
}


#plan {
    border: 1px solid lightgray;
}
