{% macro site_link(s) -%}
<span class="site"><a href="{{ url('loc:site', args=[s.id]) }}">{{ s }}</a></span>
{%- endmacro %}

{% macro building_link(b) -%}
<span class="building"><a href="{{ url('loc:building', args=[b.id]) }}">{{ b }}</a></span>
{%- endmacro %}

{% macro floor_link(f) -%}
<span class="floor"><a href="{{ url('loc:floor', args=[f.id]) }}">{{ f }}</a></span>
{%- endmacro %}


{# breadcrumb navigation #}
{% set sep = '»' %}
{% macro breadcrumb() %}
<a href="{{ url('loc:index') }}">Sites</a>
{% if site -%}
{{ sep }} {{ site_link(site) }}
{%- endif %}
{% if building -%}
{{ sep }} {{ building_link(building) }}
{%- endif %}
{% if floor -%}
{{ sep }} {{ floor_link(floor) }}
{%- endif %}
{% endmacro %}
