{% macro plan_svg(plan_obj, teleports, tp_action='follow') %}
<svg id="plan" version="1.1"
     width="{{ plan_obj.image.width }}px"
     height="{{ plan_obj.image.height }}px"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">

  <!-- the plan image -->
  <image href="{{ plan_obj.image.url }}"
         x="0" y="0"
         width="{{ plan_obj.image.width }}"
         height="{{ plan_obj.image.height }}" />

  {% for teleport in teleports %}

  {% if tp_action=='follow' %}
  {% set tp_link=url('loc:plan', args=[teleport.dest.id]) %}
  {% endif %}
  {% if tp_action=='edit' %}
  {% set tp_link=url('loc:tp_edit', args=[teleport.id]) %}
  {% endif %}

  <a xlink:href="{{ tp_link }}">
    <text
        x="{{ teleport.x * plan_obj.image.width }}"
        y="{{ teleport.y * plan_obj.image.height }}"
        class="teleport_link"
        >{{ teleport.text }}</text>
  </a>
  {% endfor %}
</svg>
{% endmacro %}


{% macro plan(plan_obj, teleports, zoom=True, tp_action='loc:plan') %}
<div id="image">
  {% if plan_obj.image %}
  {{ plan_svg(plan_obj, teleports, tp_action) }}
  {% else %}
  No image stored.
  {% endif %}
</div>

{% if zoom %}
<script src="{{ static('loc/scripts/svg-pan-zoom.js') }}"></script>

<script>
  // Don't use window.onLoad like this in production, because it can only
  // listen to one function.
  window.onload = function() {
      // Expose to window namespase for testing purposes
      svgPanZoom('#plan', {
          zoomEnabled: true,
          controlIconsEnabled: true,
          fit: true,
          center: true});
  };
</script>
{% endif %}
{% endmacro %}


{# Show an info text about a single plan. #}
{% macro plan_info(plan) %}
<p>
  Plan <i>{{ plan.name }}</i>
  {% if plan.level is not none %}
  on level {{plan.level}}
  {% endif %}
  {% if plan.parent %}
  of <a href="{{ url('loc:plan', args=[plan.parent.id]) }}">{{ plan.parent }}</a>
  {% endif %}
</p>
{% endmacro %}
