{% macro plan_svg(plan_obj, teleports) %}
<svg id="plan" version="1.1"
     width="{{ plan_obj.image.width }}px" height="{{ plan_obj.image.height }}px"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">

  <image href="{{ plan_obj.image.url }}"
         x="0" y="0"
         width="{{ plan_obj.image.width }}" height="{{ plan_obj.image.height }}" />

  {% for teleport in teleports %}

  {% set tp_link=url('loc:plan', args=[teleport.dest.id]) %}

  <a xlink:href="{{ tp_link }}">
    <text
        x="{{ teleport.x * plan_obj.image.width }}"
        y="{{ teleport.y * plan_obj.image.height }}"
        class="teleport_link"
        >{{ teleport.text }}</text>
  </a>
  {% endfor %}
</svg>
{% endmacro %}


{% macro plan(plan_obj, teleports, with_zoom=True) %}
<div id="image">
  {% if plan_obj.image %}
  {{ plan_svg(plan_obj, teleports) }}
  {% else %}
  No image stored.
  {% endif %}
</div>


{% if with_zoom %}
<script src="{{ static('loc/scripts/svg-pan-zoom.js') }}"></script>

<script>
  // Don't use window.onLoad like this in production, because it can only
  // listen to one function.
  window.onload = function() {
      // Expose to window namespase for testing purposes
      svgPanZoom('#plan', {
          zoomEnabled: true,
          controlIconsEnabled: true,
          fit: true,
          center: true});
  };
</script>
{% endif %}

{% endmacro %}
