{% import 'loc/macros/objects.html' as o with context %}
<html>
  <head>
    <title>Building Locator</title>
    <link
      rel="stylesheet"
      href="{{ static('loc/style.css') }}" >
  </head>
  <body>
    <h1>Building Locator</h1>

    <div id="nav_row" style="width: 100%">
      <div id="nav_loc">
        {{ o.breadcrumb() }}
      </div>

      <div id="nav_admin">
        {% if user.is_authenticated %}
        {{ user.username }}
        <a href="{{ url('admin:index') }}">Administration</a>
        <a href="{{ url('logout') }}">logout</a>
        {% else %}
        <a href="{{ url('login') }}">login</a>
        {% endif %}

      </div>
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
