{% import 'loc/objects.html' as o with context %}<html>
  <head>
    <title>Building Locator</title>
    <link
      rel="stylesheet"
      href="{{ static('loc/style.css') }}" >
  </head>
  <body>
    <h1>Building Locator</h1>

    <div id="nav_row" style="width: 100%">
      <div id="nav_loc">
        {{ o.breadcrumb() }}
      </div>

      <div id="nav_admin">
        <a href="{{ url('admin:index') }}">Administration</a>
      </div>
    </div>

    {% block content %}{% endblock %}
  </body>
</html>
