{% extends 'loc/base.html' %}
{% import 'loc/objects.html' as obj %}
{% import 'loc/plan.html' as f %}

{% block content %}

<p>
  Floor {{ floor.name }} (level {{floor.level}} of {{ obj.building_link(building) }}):
</p>

<div id="building_nav">
  <p>{% if floor.lower_floor %}Down: {{ obj.floor_link(floor.lower_floor) }}{% endif %}</p>
  <p>
    {% if floor.upper_floor %}
    Up: {{ obj.floor_link(floor.upper_floor) }}
    {% endif %}
  </p>
</div>

{{ f.plan(floor, teleports) }}


{% endblock %}
