{% extends 'loc/base.html' %}

{% import 'loc/macros/meta.html' as m %}

{% block content %}

<p>There are {{ buildings|length }} buildings on the {{ site.name }} site:</p>

<ul>
  {% for building in buildings %}
  <li>
    <a href="{{ url('loc:building', args=[building.id]) }}">{{ building.name }}</a>

    {%if building.floors %}

    {% for floor in building.floors %}
    <a href="{{ url('loc:floor', args=[floor.id]) }}">{{ floor }}</a>
    {% endfor %}
    {% else %}
    (no floors configured)
    {% endif %}
  </li>
  {% endfor %}
</ul>

{{ m.show_meta('site', site) }}

{% endblock %}
