{% extends 'base.html' %}
{% import 'loc/macros/objects.html' as obj %}
{% import 'loc/macros/plan.html' as f %}
{% from 'loc/macros/plan.html' import plan_info %}
{% from 'loc/macros/planlist.html' import planlist %}

{% block title %}Plan View{% endblock %}

{% block content %}
{{ plan_info(plan) }}

<div id="building_nav">
  <p>{% if plan.lower_floor %}Down: {{ obj.floor_link(plan.lower_floor) }}{% endif %}</p>
  <p>
    {% if plan.upper_floor %}
    Up: {{ obj.floor_link(plan.upper_floor) }}
    {% endif %}
  </p>
</div>
{% if not tp_action %}
{% set tp_action='follow' %}
{% endif %}
{{ f.plan(plan, teleports, zoom=True, tp_action=tp_action) }}

{% if parent %}
<p><b>Parent:</b> <a href="{{ url('loc:plan', args=[parent.id]) }}">{{
    parent.name }}</a></p>
{% endif %}

{% if sub_plans %}
<p><b>Details</b></p>
{{ planlist(sub_plans) }}
{% endif %}

<p><b>Actions</b></p>
<p>
  <a href="{{ url('loc:plan_edit_meta', args=[plan.id]) }}">Edit Metadata</a>
  {% if plan.image %}
  <a href="{{ url('loc:plan_add_tp', args=[plan.id]) }}">Add Teleport</a>
  <a href="{{ url('loc:plan_select_tp', args=[plan.id]) }}">Edit Teleport</a>
  {% endif %}
</p>

{% endblock %}
